[Unit]
Description=nftables Blocker Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nftblocker
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -TERM $MAINPID && /usr/local/bin/nftblocker
Restart=on-failure

[Install]
WantedBy=multi-user.target
